/*! === FONTS === */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;700&display=swap");

/*! === VARIABLES === */
:root {
  --tittle-clr: #f2f2f2;
  --light-clr: #fff;
  --light-clr-2: #BED2C9;
  --light-clr-3: #E1E7DD;
  --dark-clr: #2e2e2e;
  --body-font-clr: #bdbdbd;
  --body-bg-clr: #222222;
  --title-font: "Bebas Neue", cursive;
  --body-font: "Poppins", sans-serif;
}

/*! === BASE === */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: 1.4rem;
  line-height: 1.5;
  background-color: var(--body-bg-clr);
  color: var(--body-font-clr);
  transition: .4s; /*For light mode*/
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img,
picture {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
  background-color: transparent;
  border: none;
}

/*! === SCROLLBAR === */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--light-clr-2);
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*! === THEME === */
.change-theme{
  display: flex;
  column-gap: 0.5rem;
  font-size: 2.2rem;
  cursor: pointer;
  transition: .3s;
}

.change-theme:not(:hover){
  color: var(--light-clr-3);
}

/*! === Variables LIGHT THEME === */
body.light-theme{
  --tittle-clr: #444946;
  --light-clr: #000000;
  --light-clr-2: #595959;
  --light-clr-3: #262626;
  --dark-clr: #d9d9d9;
  --body-font-clr: #0d0d0d;
  --body-bg-clr: #fff;
}

/*! === Change Light theme colours === */
.light-theme .footer__list-link{
  box-shadow: 0 2px 0 rgba(89, 89, 89, .1);
}

.light-theme .header.active{
  box-shadow: 0 1px 0 rgba(89, 89, 89, .1);
}

/*! === COMPONENTS === */
.container{
  margin-inline: auto;
  padding-inline: 1.8rem;
}

.btn{
  display: inline-block;
  cursor: pointer;
  transition: opacity .25s;
}

.btn:is(:hover, :focus){
  opacity: .8;
}

.btn--action{
  font-size: 1.8rem;
  color: var(--light-clr);
  line-height: 0;
}

.btn--text{
  font-family: var(--title-font);
  letter-spacing: 1px;
  font-size: 2rem;
  padding: 1rem 3rem;
}

.btn--transparent{
  color: var(--light-clr-2);
  border-bottom: 2px solid var(--light-clr-2);
  padding: 0;
}

.btn--blog{
  color: var(--light-clr-2);
  border-bottom: 1.5px solid var(--light-clr-2);
  border-right: 2px solid var(--light-clr-2);
  padding: 0;
}

.title{
  font-family: var(--title-font);
  color: var(--light-clr-3);
  letter-spacing: 1px;
  font-size: 3.6rem;
}

.tittle--main{
  font-size: clamp(4.2rem, 8vw, 10rem);
  color: var(--light-clr);
  line-height: 1.2; 
  position: relative;
  z-index: 10;
}

.section-metadata{
  padding-bottom: 6rem;
  text-align: center;
}

.section-metadata__description{
  margin-top: 1.3rem;
}

.btn-green{
  background-color: var(--light-clr-2);
  color: var(--dark-clr);
}

/*! === HEADER === */
.header{
  position: fixed;
  z-index: 999;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: var(--body-bg-clr);
  transition: padding .25s
}

.header.active{
  padding-top: 1rem;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .1);
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo-image{
  min-width: 2rem;
  max-width: 3.5rem;
}

.navbar__menu{
  position: absolute;
  top: 0;
  left: 0;
  width: 25rem;
  height: 100vh;
  background-color: var(--dark-clr);
  transform: translateX(-26rem);
  z-index: 999;
  transition: transform .5s ease-in;
}

.navbar__menu.active{
  transform: translateX(0);
}

.navbar__list{
  display: flex;
  flex-direction: column;
}

.navbar__list-item{
  border-bottom: 1px solid rgba(140, 140, 140, 0.5);
}

.navbar__list-link{
  display: block;
  color: var(--light-clr);
  padding: 1.5rem;
  transition: opacity .25s;
}

.navbar__list-link:is(:hover, :focus){
  opacity: .5;
}

.navbar__btn-group{
  display: flex;
  column-gap: 1.5rem;
}

/*! === HEADER POSITIONING === */

/*! === MAIN === */
main{
  overflow-x: hidden;
}

/*! === SHOWCASE === */
.showcase{
  padding-top: 14.5rem;
}

.showcase__container{
  text-align: center;
  -webkit-text-stroke-width: .6px;
  -webkit-text-stroke-color: #fff;
}

.showcase__image{
  display: inline-block;
  transform: translateY(-3rem);
  max-height:700px;
  max-width:500px;
}

/*! === PORTFOLIO === */
.portfolio{
  padding-top: 7.4rem;
  padding-bottom: 12rem;
}

.portfolio__metadata{
  padding-bottom: 4rem;
  text-align: left;
}

/* --- SWIPER --- */
.swiper-slide{
  width: 30rem;
  height: 30rem;
}

.swiper-slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-metadata__description{
  text-align: right;
  margin-right: 1rem;
  margin-top: 0.5rem;
  z-index: 100;
  transform: translateY(-30rem);
  font-size: x-small;
  /*transform-origin: top right;
  right:0;
  top:0;
  transform: rotate(-90deg)*/
}

.swiper-pagination-bullet{
  background-color: var(--light-clr);
}

.swiper-button-prev::after,
.swiper-button-next::after{
  content: '';
}

.swiper-portfolio-icon{
  font-size: 5rem;
  color: var(--light-clr);
}

.swiper-button-prev{
  left: -.5rem;
}

.swiper-button-next{
  right: -.5rem;
}

/*! === ABOUT === */
.about{
  background-color: var(--dark-clr);
  padding-block: 7.4rem;
}

.about__container{
  display: grid;
  gap: 8rem;
}

.about__information-title{
  margin-bottom: 2rem;
}

.about__information-description:first-of-type{
  margin-bottom: 1.5rem;
}

.about__information-description:last-of-type{
  margin-bottom: 4rem;
}

.about__images{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-inline: auto;
}

.about__images-image--top{
  grid-column: 4/-1;
  grid-row: 1/span 4;
}

.about__images-image--bottom{
  grid-column: 1/7;
  grid-row: 3/span 5;
  z-index: 5;
}

/*! === SKILLS === */
.skills{
  padding-top: 12rem;
  padding-bottom: 6rem;
}

.skills__container{
  display: grid;
}

.skills__image-wrapper{
  margin-bottom: 6rem;
}

.skills__image-wrapper img{
  margin-inline: auto;
}

.skills__list,
.skills__list-divider{
  display: grid;
  gap: 5rem;
}

.skills__list-icon{
  display: inline-block;
  color: #8c8c8c;
  font-size: 3.6rem;
  line-height: 3rem;
  margin-bottom: 3rem;
}

.skills__list-title{
  margin-bottom: 1rem;
}

/*! === BLOG === */
.blog{
  padding-top: 8rem;
  padding-bottom: 12rem;
}

.blog__container{
  display: grid;
}

.blog__metadata-description{
  margin-bottom: 4rem;
}

.blog__post:first-of-type{
  margin-bottom: 6rem;
}

.blog__post-image{
  margin-bottom: 3rem;
}

.blog__post-image img{
  margin-inline: auto;
}

.blog__post-title{
  font-size: 2.6rem;
  margin-bottom: 1.5rem;
}

/*! === FOOTER === */
.footer{
  background-color: var(--dark-clr);
  padding-top: 10rem;
  padding-bottom: 3rem;
}

.footer__group{
  text-align: center;
}

.footer__title{
  margin-bottom: 3rem;
}

.titttle--main{
  font-size: clamp(4rem, 6vw, 8rem);
  color: var(--light-clr);
  line-height: 1.2; 
  position: relative;
  z-index: 10;
}

.footer__separator{
  display: block;
  height: 1px;
  background-color: var(--light-clr);
  margin-top: 10rem;
  margin-bottom: 8rem;
}

.footer__logo{
  display: inline-block;
  max-width: 5rem;
}

.footer__description{
  margin-block: 3rem;
}

.footer__list{
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.footer__list-link{
  color: var(--light-clr-2);
  font-size: 1.8rem;
  width: 4rem;
  height: 4rem;
  border: 1px solid rgba(255, 255, 255, .1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .25s;
}

.footer__list-link:hover{
  background-color: var(--light-clr-2);
  color: var(--dark-clr);
}

.footer__copyright{
  display: inline-block;
  margin-top: 5rem;
}


/*! === ABOUT.html === */
.About{
  padding-top: 12rem;
  padding-bottom: 6rem;
}

.About__container{
  display: grid;
  gap: 8rem;
}

.About__information-title{
  font-size: clamp(4.2rem, 8vw, 10rem);
  margin-bottom: 2rem;
  text-align: center;
}

.About__information-description{
  text-align: left;
}

.About__information-description:nth-of-type(n-1){
  margin-bottom: 1.5rem;
}

.About__information-description:last-of-type{
  margin-bottom: 4rem;
}

.About__images{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-inline: auto;
}

.About__images-image--top{
  grid-column: 4/-1;
  grid-row: 1/span 4;
}

.About__images-image--bottom{
  grid-column: 1/7;
  grid-row: 3/span 5;
  z-index: 5;
}

/*! === TIMELINE === */
.timeline__container{
  margin-top: 4rem;
  margin-bottom: 12rem;
}

.timeline__tabs{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2);
}

.timeline__button{
  font-family: var(--title-font);
  font-size: 2.2rem;
  letter-spacing: 1px;
  color: #8c8c8c;
  border-bottom: 2px dashed var(--body-font-clr);
  padding: 0;
  cursor: pointer;
  margin-bottom: 6rem;
  transition: 0.25s;
}

.timeline__button:hover{
  opacity: .5;
}

.timeline__icon{
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
}

.timeline__data{
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.timeline__title{
  font-family: var(--title-font);
  color: var(--light-clr-3);
  letter-spacing: 1px;
  font-size: 2.6rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.timeline__subtitle{
  display: inline-block;
  color: var(--light-clr-2);
  margin-bottom: 1.5rem;
}

.timeline__calendar{
  color: var(--body-font-clr);
  transform: translateY(-10px);
}

.timeline__rounder{
  display: inline-block;
  text-align: center;
  font-family: var(--title-font);
  line-height: 30px;
  font-size: 15px;
  color: var(--dark-clr);
  width: 30px;
  height: 30px;
  background-color: var(--light-clr-2);
  border-radius: 50%;
}

.timeline__line{
  position: absolute;
  z-index: -1;
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--light-clr-2);
  transform: translate(14px, -12px);
}

.timeline [data-content]{
  display: none;
}

.timeline__active[data-content]{
  display: block;
}

.timeline__button.timeline__active{
  color: var(--light-clr);
}

/*! === BLOG.html === */
.Blog{
  padding-top: 12rem;
  padding-bottom: 6rem;
}

.Blog__container{
  display: grid;
}

.Blog__information-title{
  font-size: clamp(4.2rem, 8vw, 10rem);
}

.Blog__metadata-description{
  margin-bottom: 4rem;
}

.Blog__post:nth-of-type(n){
  margin-bottom: 6rem;
}

.Blog__separator{
  display: block;
  height: 1px;
  background-color: var(--light-clr);
  opacity: 0.4;
  margin-top: 1.5rem;
  margin-bottom: 5rem;
}

.Blog__post-image{
  margin-bottom: 3rem;
}

.Blog__post-image img{
  margin-inline: auto;
}

.Blog__post-title{
  font-size: 2.6rem;
  margin-bottom: 0.5rem;
}

.Blog__information-description:nth-of-type(n){
  margin-bottom: 1rem;
}

/* Post */
.post__container{
  padding-top: 14rem;
  padding-bottom: 6rem;
}

.post__images{
  max-width: fit-content;
  width: 100vw;
  z-index: 0;
}

.ian__images{
  max-width: fit-content;
  width: 100vw;
  z-index: 0;
}

.ian__information-title{
  font-size: clamp(4.2rem, 8vw, 6rem);
  color: var(--light-clr);
  text-align: left;
  padding-bottom: 2rem;
}

/*.ian__chapter{
  color: var(--light-clr);
  border-radius: 10px;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: left;
  background-color: rgba(140, 140, 140, 0.2);
  margin-bottom: 1rem;
}*/

.post__information-emoji{
  font-size: clamp(4.2rem, 8vw, 6rem);
  transform: translateY(-4rem);
  padding-left: 4rem;
  padding-bottom: none;
}

.post__information-title{
  color: var(--light-clr);
  text-align: center;
  padding-bottom: 2rem;
}

.post__information-heading{
  color: var(--light-clr);
  padding-bottom: 2.5rem;
}

.ian2020__information-heading{
  background: linear-gradient(to right, #4cbaff 0%, #9049e7 15%);
  /*font-family: Arial Rounded Mt Bold;  /* Replicating CRAFT's font */
  background-clip: text;
	-webkit-text-fill-color: transparent;
  padding-bottom: 2.5rem;
}

.post__information-description:nth-of-type(n){
  color: var(--light-clr);
  margin-bottom: 2rem;
}

.post__information-quote{
  padding-left: 2rem;
  border-left: 4px solid;
  border-radius: 4px;
  color: var(--light-clr-2);
  margin-bottom: 2rem;
}

.post__information-poem{
  padding-right: 2rem;
  border-right: 4px solid;
  border-radius: 4px;
  text-align: center;
  color: var(--light-clr-2);
  margin-bottom: 2rem;
}

.post__information-callout{
  color: var(--light-clr);
  border-radius: 10px;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  background-color: rgba(140, 140, 140, 0.2);
}

.card{
  color: var(--light-clr);
  border-radius: 10px;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1.3rem;
  height: 16vh;
  text-align: left;
  background-color: rgba(140, 140, 140, 0.2);
  position: relative;
  margin-left: 3rem;
  margin-bottom: 2rem;
}

/*.numbering{
  transform: translate(0, 4rem);
}*/

.footer__button-post{
  transform: translateY(-14rem);
  float: left;
  /* border: 1.5px dashed #8c8c8c;*/
  text-decoration: none;
  display: block;
  color: var(--light-clr);
  transition: opacity .25s;
}

.footer__button-post:is(:hover, :focus){
  opacity: .5;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 80fr;
}

.numbering{
  margin-top: 1rem;
}

.card img{
  vertical-align: bottom;
  float: right;
  bottom: 0;
  height: 14vh;
  transform: translateY(4px);
  padding-left: 1rem;
  /*float: right;
  position: absolute;
  bottom: 0;
  right: 3rem;*/
}

@media (max-width: 48em) {
  .ian__subheading{
    display: none;
  }
}

/*@media (max-width: 31.25em) {
  .card img{
    display: none;
  }
}*/

.ian__subheading{
  text-align: left;
  font-size: smaller;
  color: var(--body-font-clr);
}

.post__sources-description{
  text-align: right;
  font-size: smaller;
}

.tab {
  display: inline-block;
  margin-left: 20px;
}

/* -- COMMENTS --*/
/*.comments__menu{
  position: absolute;
  top: 0;
  right: 0;
  width: 25rem;
  height: 100vh;
  background-color: var(--dark-clr);
  transform: translateX(-26rem);
  z-index: 999;
  transition: transform .5s ease-in;
}

.comments__menu.active{
  transform: translateX(0);
}*/
/* -- HR -- */
hr.post{
  padding-bottom: 6rem;
  border: none;
  /*border-top: 1.5px dashed var(--body-font-clr);
  height: 1px;*/
  margin: auto;
  text-align: center;
  width: 75%;
  opacity: 0.7;
}

hr.post:after {

content:"...";
letter-spacing: 10px;
}

hr.blog{
  padding-bottom: 1rem;
  border: none;
  /*border-top: 1.5px dashed var(--body-font-clr);
  height: 1px;*/
  margin: auto;
  text-align: center;
  transform: translateY(-6rem);
  opacity: 0.7;
}

hr.blog:after {
content:".............................................";
letter-spacing: 4px;
}

/* -- BREADCRUMB -- */

/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: var(--light-clr);
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: var(--light-clr);
  text-decoration: none;
  transition: opacity .25s;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  opacity: .5;
}

/*! === MEDIA QUERIES === */
/* --- Phones --- */
@media (min-width: 31.25em) {
  .container{
    max-width: 50rem;
  }
}

@media (max-width: 48em) {

  /* NAV RECONFIGURE */
  .navbar__list-item:first-of-type{
    padding-top: 2rem;
  }

  .navbar__list-item:nth-of-type(5),
  .navbar__list-item:nth-of-type(8){
    border-bottom: 1.5px solid rgba(140, 140, 140, 0.7);
    border-bottom-style: dashed;
    margin-bottom: 3px;
  }
  
  .navbar__list-item:nth-of-type(6){
    padding-top: 2rem;
    border-top: 1.5px solid rgba(140, 140, 140, 0.7);
    border-top-style: dashed;
  }
  
  .navbar__list-item:nth-of-type(9){
    border-top: 1.5px solid rgba(140, 140, 140, 0.7);
    border-top-style: dashed;
    border-bottom: none;
  }
  
  .navbar__list-item:last-of-type{
    position: absolute;
    bottom: 2rem;
    border-bottom: none;
  }

  /* MISC */
  .container{
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .skills__image-wrapper img{
    display: none;
  }
  
  .showcase__image{
    display: inline-block;
    transform: translateY(-3rem);
    padding-inline: 5rem;
  }

  .skills{
    padding-left: 2rem;
  }

  .footer__button{
    display: none;
  }
}

/* --- Tablets --- */
@media (min-width: 48em) {
  body{
    font-size: 1.6rem;
  }
  
  .container{
    max-width: 70rem;
  }
  
  #menu-toggler{
    display: none;
  }
  
  .navbar__btn-group{
    display: none;
  }
  
  .navbar__menu{
    position: initial;
    width: initial;
    height: initial;
    background-color: transparent;
    transform: initial;
    transition: none;
  }
  
  .navbar__list{
    flex-direction: row;
    gap: 1rem;
  }
  
/* NAV RECONFIGURE */
  .navbar__list-item{
    border-bottom: none;
  }

  .navbar__list-item:nth-of-type(6),
  .navbar__list-item:nth-of-type(7),
  .navbar__list-item:nth-of-type(8),
  .navbar__list-item:nth-of-type(9),
  .navbar__list-item:nth-of-type(10){
    display: none;
  }

  .navbar__list-link{
    padding: none;
  }

  /* MISC */
  .showcase__image{
    transform: translateY(-5rem);
  }

  .showcase__container{
    -webkit-text-stroke-width: 1px;
  }
  
  .section-metadata{
    grid-column: 1/-1;
  }
  
  .section-metadata__description{
    max-width: 70rem;
    margin-inline: auto;
  }
  
  .skills__image-wrapper{
    margin-bottom: 0;
  }
  
  .skills__image-wrapper img{
    margin-inline: 0;
    padding-right: 3rem;
  }
  
  .skills__list{
    grid-template-columns: repeat(2, 1fr);
  }
  
  .skills__list-item{
    align-self: center;
  }
  
  .skills__container,
  .about__container,
  .blog__container,
  .Blog__container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
  }
  
  .blog__post:first-of-type,
  .Blog__post:nth-of-type(n){
    margin-bottom: 0;
  }

  .footer__description{
    max-width: 50rem;
    margin-inline: auto;
  }

  .footer__button{
    transform: translateY(-14rem);
    float: right;
    /* border: 1.5px dashed #8c8c8c;*/
    text-decoration: none;
    display: block;
    color: var(--light-clr);
    transition: opacity .25s;
  }

  .footer__button:is(:hover, :focus){
    opacity: .5;
  }
}

/* --- Laptops/Desktops --- */
@media (min-width: 64em) {
  .container{
    max-width: 110rem;
    padding-left: 10rem;
    padding-right: 10rem;
  }
  
  .tittle--main,
  .titttle--main{
    background-position: center 48%;
  }
  
  .showcase__image{
    transform: translateY(-8rem);
  }
  
  .skills__container{
    grid-template-columns: 1fr 1.5fr;
  }

  .About__images{
    padding-left: 20rem;
    padding-right: 20rem;
  }

  hr.blog:after {
    content:"...........................................................";
    letter-spacing: 4px;
    }
    
}
